<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Idazleak
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de Idazleak -->
  <ion-list>
    <ion-item *ngFor="let item of dataArray">
      <ion-avatar slot="start">
        <img [src]="item.avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ item.first_name }} {{ item.last_name }}</h2>
        <p>{{ item.email }}</p>
      </ion-label>

      <!-- Botones de acción -->
      <ion-buttons slot="end">
        <ion-button (click)="editIdazle(item)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteIdazle(item.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Botón para añadir un idazle -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addIdazle()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
